<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BD_NMAEntities" connectionString="metadata=res://*/NMABD.csdl|res://*/NMABD.ssdl|res://*/NMABD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JEANCO;initial catalog=BD_NMA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>